<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle: Toy</title>

    <link rel = "stylesheet" href = "../src/css/styles.css">
    <link rel = "stylesheet" href = "../src/css/cart.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <!-- Header / Navbar -->
    <%- include('partials/header') %>


   
    <h1>Shopping Cart</h1>

    <section class = "container">
    
        

            <% let subtotal = 0 %>

            <% if (currentCart.length === 0){ %>
                <h2>Your shopping cart is empty</h2>
            <% } else{ %>
                <section class = "cartSide">
            <% for (let item of currentCart){ %>
                <section class = "liContainer">

                    <section class = "imgSide">
                        <a href =" <%= item.itemPage %> "><img src = "<%= item.itemPic %>" class = "cartImg"></a>
                    </section>

                
                    <section class = "descSide">
                        <h2 class = "itemH2"><%= item.itemName %></h2>
                        
                        <div class = "innerDesc">
                            <span>Quantity: <input id = "quantity" type = "number" min = 0 value = <%= item.itemCount %> ></span>
                            <span class = "priceSpan">Price: <%= item.itemPrice %> each</span>
                        </div>

                        <button class = "upCart">Update Quantity</button>

                        <span class = "delete">Delete Item</span>
                    </section>

                </section>
                <% subtotal += (item.itemCount * item.itemPrice)%>
            <% } %> 

        </section>

        <section class = "checkoutSide">
            <h3>Subtotal (<%= shoppingCart === undefined ? 0 : shoppingCart %> items): $<%= (Math.floor(subtotal * 100) / 100).toFixed(2) %></h3> <!-- This math is done to help prevent rounding issue and keep 2 decimal places-->

            <button class = "emptyCart">Empty Cart</button>
            <span class = "disclaimer">Disclaimer: There is no option to checkout</span>

        </section>

            <% } %>
    
        
   </section>


    <script type = "text/javascript" src = "../src/js/main.js"> </script>

</body>
</html>