<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jungle</title>

    <link rel = "stylesheet" href = "src/css/styles.css">
    <link rel="shortcut icon" href="#">
</head>
<body>

    <!-- Header / Navbar -->
    <header class = "header">
        <%- include('partials/header') %>
    </header>


    <section class = "bannerSection">
        <img src = "src/css/images/carousel2.jpg" alt = "Prime" id = "banner">
    </section>


    <!-- Different categories of shopping-->
    <section class = "container">
        <% baloons.forEach(thing => { %>
        <section class = "item"><a href="/items/<%= thing._id %>"></a>
            
                <%= thing.itemName %>
        </a>
        
        <a href="/items/<%= thing._id %>"><img class = "item_img" src = "<%= thing.itemPic %>"></a></section>
        <% }) %>
    </section>
    

    <script type = "text/javascript" src = "src/js/main.js"> </script>
</body>
</html>